.htaccess
.idea
error.lo*
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
*.html
*.txt
!/robots.txt
/xhprof/logs
*.log
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.sql
*.rar
.hg
node_modules
.ftpconfig
*.doc
*.pdf
*.rtf
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
core.*
.cache
/utils/*
.last_version/*
public