.product-info.product-info--type2 .shadowed-block .buy_block .yandex-pay-skeleton-loading,
.product-info.product-info--type2 .shadowed-block .buy_block .ya-pay-button {
	border-radius: 0;
}

.product-info.product-info--type2 .shadowed-block .buy_block .yandex-pay {
	margin-bottom: 0;
}

.yandex-pay .ya-pay-button,
.yandex-pay .yandex-pay-skeleton-loading
{
	border-radius: 2px;
}