#bx-admin-prefix .yamarket-form td.adm-detail-content-cell-r > table[id^="table_"] {
    border-spacing: 0;
}

#bx-admin-prefix .yamarket-form td.adm-detail-content-cell-r > table[id^="table_"] td {
    padding: 0;
}

.yamarket-btn {
	color: #3f4b54 !important;
	text-decoration: none !important;

	margin: 2px;
}

.yamarket-btn-additional {
	float: right;
}

.yamarket-btn.adm-btn-load {
	box-sizing: border-box;
}

.adm-btn {
	padding: 1px 13px 3px;
	background-position: 0 0;
}

.adm-workarea .adm-btn-save.adm-btn-disabled,
.adm-workarea .adm-btn-save.adm-btn-disabled:hover,
.adm-workarea .adm-btn-save.adm-btn-disabled:focus {
	background: #86AD00 !important;
	background: -webkit-linear-gradient(top, #97BA00, #729E00 ) !important;
	background:    -moz-linear-gradient(top, #97BA00, #729E00 ) !important;
	background:     -ms-linear-gradient(top, #97BA00, #729E00 ) !important;
	background:      -o-linear-gradient(top, #97BA00, #729E00 )!important;
	background:         linear-gradient(to bottom, #97BA00, #729E00) !important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #CBDC00 inset !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #CBDC00 inset !important;
	border: 1px solid !important;
	border-color: #97C004 #7EA502 #648900 !important;
	color: #b5cc80 !important;
	text-shadow: none !important;

	cursor: not-allowed;
}

.adm-workarea .adm-btn.adm-btn-save:active, .adm-workarea button.adm-btn.adm-btn-save:active {
	height: 29px!important;
	padding: 1px 13px 2px!important;
}

.adm-workarea select{
	max-width: 300px;
}

.b-tag-tooltip--holder {
	position: relative;
}

.b-tag-tooltip--content,
span.b-tag-tooltip--content { /* specifity */
	box-shadow: 0 12px 10px rgb(0 0 0 / 25%) !important;
	border: 1px solid;
	border-color: #a2a6ad #989ca1 #8e9398;
	background: linear-gradient(to bottom, rgba(227,233,234,.95), rgba(198,210,213,.95));
	display: none;
	color: #272b31 !important;
	padding: 8px 16px;
	opacity: 0;
	position: absolute;
	z-index: 101;
	right: 100%;
	text-align: left;
	top: 0;
	width: 220px;
	margin-right: 10px;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.2;
}

.b-tag-tooltip--content a,
.b-tag-tooltip--content a:focus,
.b-tag-tooltip--content a:hover,
.b-tag-tooltip--content a:active {
	color: #272b31 !important;
	text-decoration: underline !important;
}

.b-tag-tooltip--content, span.b-tag-tooltip--content ul,
.b-tag-tooltip--content, span.b-tag-tooltip--content ol {
	padding-left: 1.2em;
}

.b-tag-tooltip--content.b-tag-tooltip--content_right {
	right: auto;
	left: 100%;

	margin-left: 10px;
	margin-right: 0;
}

.b-tag-tooltip--holder:hover .b-tag-tooltip--content {
	display: block;
	opacity: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

/*.b-tag-tooltip--content::before {
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #000;
	content: '';
	height: 0;
	position: absolute;
	right: -5px;
	top: 5px;
	width: 0;
}*/

.b-tag-tooltip--content::after {
	content: '';
	display: block;
	width: 30px;
	height: 100%;

	position: absolute;
	left: 100%;
	top: 0;
}

.b-tag-tooltip--content_right::before {
	border-width: 5px 5px 5px 0;
	border-left-color: transparent;
	border-right-color: #000;
	content: '';
	right: auto;
	left: -5px;
}

.b-tag-tooltip--content_right::after {
	left: auto;
	right: 100%;
}

.b-icon.icon--question {
	background-image: url('/bitrix/js/main/core/images/hint.gif');
	background-size: 100% auto;
	display: inline-block;
	vertical-align: middle;
	 width: 12px;
	 height: 12px;
	position: relative;
	top: -1px;
}

.b-icon.indent--right {
	margin-right: 8px;
}