/* link */

.b-link-complex {
	color: inherit !important;
	text-decoration: none !important;

	cursor: pointer;
}

.b-link,
.b-link-complex__target {
	border-bottom: 1px solid;

	color: #2675d7;
	text-decoration: none !important;

	cursor: pointer;
}

.b-link.target--inside,
.b-link-complex__target.target--inside {
	border-bottom-style: dotted;
}

.b-link.action--heading,
.b-link-complex__target.action--heading {
	color: #24282b;
	border-bottom-color: rgba(36, 40, 43, .3);
}

.b-link:hover,
.b-link:focus,
.b-link-complex:hover .b-link-complex__target,
.b-link-complex:focus .b-link-complex__target {
	border-bottom-color: transparent;
}

.b-link__icon,
.b-link-complex__icon {
	opacity: 0.75;
}

.b-link:hover .b-link__icon,
.b-link:focus .b-link__icon,
.b-link-complex:hover .b-link-complex__icon,
.b-link-complex:focus .b-link-complex__icon {
	opacity: 1;
}


/* pill-group */

.b-form-pill-group.is--fill {
	display: block;
	padding: 24px;
	border: 1px solid #cacfd8;
	border-radius: 3px;
	max-width: 700px;

	position: relative;

	background: #fff;
}

.b-form-pill-group.is--fill .b-form-pill-group__empty {
	display: none;
}

/* pill */

.b-form-pill {
	display: block;
	padding: 12px 16px;
	border: 1px solid #cacfd8;
	border-radius: 3px;
	max-width: 600px;

	position: relative;

	background: #fff;
}

.b-form-pill + .b-form-pill {
	margin-top: 9px;
}

.b-form-pill.dimension--gamma {
	padding: 12px 24px;
}

/* field add */

.b-field-add {
	margin-top: 9px;
}

.b-field-add:first-child,
.is--hidden + .b-field-add {
	margin-top: 0;
}

/* form hidden row */

.b-form-hidden-row {
	height: 0;
	padding: 0;
	border: 0;
}

/* close */

.b-close,
.b-remove,
.bx-core-adm-dialog a.b-remove {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 10px;
	padding: 3px 5px;
	border: 0;

	background: url('i/close.svg') no-repeat 50% 50%;
	background-size: 9px 10px;
}

.b-close,
.b-remove {
	opacity: 0.75;
	cursor: pointer;
}

.b-close {
	padding: 10px;

	position: absolute;
	right: 0;
	top: 0;
}

.b-close:hover,
.b-close:focus,
.b-remove:hover,
.b-remove:focus {
	opacity: 1;
}

/* copy */

.b-copy {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 15px;
	height: 15px;
	padding: 4px;
	border: 0;
	box-sizing: content-box;

	margin-top: -6px;
	margin-bottom: -6px;

	background: url('i/copy.svg') no-repeat 50% 50%;
	background-size: 14px 14px;

	opacity: 0.75;

	white-space: nowrap;
	text-indent: 30px;

	cursor: pointer;
}

.b-close:hover,
.b-close:focus {
	opacity: 1;
}

/* utils */

.is--hidden {
	display: none !important;
}

.visible--hidden {
	visibility: hidden !important;
	pointer-events: none !important;
	opacity: 0 !important;
}

.adm-workarea textarea[readonly], .adm-workarea input[readonly]{
	opacity: 1 !important;
}

.yapay-table-layout{
	table-layout: fixed;
}

.yapay-user-type{
	display: flex;
	align-items: center;
}

.yapay-user-type .yapay-user-type-item{
	margin-right: 10px !important;
}

.yapay-user-type .yapay-user-type-item:last-child{
	margin-right: 0 !important;
}

.yapay-user-type .adm-btn{
	padding: 1px 13px 3px;
	background-position: 0 0;
}

.yapay-table-layout .yapay-user-data{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: auto 0 1;
	align-self: center;
}

.adm-workarea .adm-input-wrap .adm-input-calendar {
	padding-right: 35px;
}

#bx-admin-prefix .adm-input-wrap-calendar {
	vertical-align: middle;
	min-width: 120px;
}

.b-tag-tooltip--holder {
	position: relative;
}

.b-tag-tooltip--content,
span.b-tag-tooltip--content { /* specifity */
	box-shadow: 0 12px 10px rgb(0 0 0 / 25%) !important;
	border: 1px solid;
	border-color: #a2a6ad #989ca1 #8e9398;
	background: linear-gradient(to bottom, rgba(227,233,234,.95), rgba(198,210,213,.95));
	display: none;
	color: #272b31 !important;
	padding: 8px 16px;
	opacity: 0;
	position: absolute;
	z-index: 101;
	right: 100%;
	text-align: left;
	top: 0;
	width: 220px;
	margin-right: 10px;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.2;
}

.b-tag-tooltip--content a,
.b-tag-tooltip--content a:focus,
.b-tag-tooltip--content a:hover,
.b-tag-tooltip--content a:active {
	color: #272b31 !important;
	text-decoration: underline !important;
}

.b-tag-tooltip--content, span.b-tag-tooltip--content ul,
.b-tag-tooltip--content, span.b-tag-tooltip--content ol {
	padding-left: 1.2em;
}

.b-tag-tooltip--content.b-tag-tooltip--content_right {
	right: auto;
	left: 100%;

	margin-left: 10px;
	margin-right: 0;
}

.b-tag-tooltip--holder:hover .b-tag-tooltip--content {
	display: block;
	opacity: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

/*.b-tag-tooltip--content::before {
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #000;
	content: '';
	height: 0;
	position: absolute;
	right: -5px;
	top: 5px;
	width: 0;
}*/

.b-tag-tooltip--content::after {
	content: '';
	display: block;
	width: 30px;
	height: 100%;

	position: absolute;
	left: 100%;
	top: 0;
}

.b-tag-tooltip--content_right::before {
	border-width: 5px 5px 5px 0;
	border-left-color: transparent;
	border-right-color: #000;
	content: '';
	right: auto;
	left: -5px;
}

.b-tag-tooltip--content_right::after {
	left: auto;
	right: 100%;
}

.b-icon.icon--question {
	background-image: url('/bitrix/js/main/core/images/hint.gif');
	background-size: 100% auto;
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	position: relative;
	top: -1px;
}

.b-icon.indent--right {
	margin-right: 8px;
}