.bx-yapay-drawer-container{
	margin-top: 10px;
	margin-bottom: 0;
}

/*basket*/
.yapay-behavior--basket{
	text-align: right;
	margin-top: 12px;
}

/*element*/
.yapay-behavior--element{
	text-align: right;
	margin-top: 12px;
}

/*order*/
.yapay-behavior--order{
	margin-top: 29px;
}