/*basket*/
.yapay-behavior--basket{
	text-align: right;
}

@media (max-width: 1042px) {
	.yapay-behavior--basket{
		width: 100%;
	}
}

/*element*/
.yapay-behavior--element{
	margin-top: 18px;
}

/*order*/
.yapay-behavior--order{
	margin-bottom: 0;
	margin-top: 18px;
}

@media (max-width: 1042px) {
	.yapay-behavior--order{
		margin-top: 10px;
	}
}